mat-card {
  padding: 1rem;
  margin: 1rem;
  justify-content: center;

  h3 {
    text-align: center;
  }

  mat-divider {
    margin: 8px 0px;
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .result {
    margin: 8px;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &.show {
      visibility: visible;
    }
  }

  .actions {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  mat-slider {
    width: 100%;
    min-width: auto;
    pointer-events: none;
  }

  span {
    vertical-align: middle;
  }

  .horse-race-container {
    display: flex;
    flex-direction: column;
  }

  .horse {
    display: grid;
    grid-template-columns: 100px 1fr 100px;

    .horse-title {
      text-align: center;
      align-self: center;
    }
  }
}