mat-card {
    max-height: 400px;
    width: 250px;
    margin: 16px
}

img {
    height: 150px
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}