.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
        margin: 2px;
    }

    .hidden {
        visibility: hidden;
    }

    .centered {
        text-align: center;
    }

    .image {
        height: 250px;
        width: 100%;
    }

    mat-card-actions {
        display: flex;
        justify-content: center;
    }
}