<h3>City</h3>

@let sellableProductArray = sellableProducts | async;

<mat-tab-group mationDuration="300ms" dynamicHeight>
  <mat-tab label="Handeln">
    <mat-card>
      <div class="trade-container">
        <app-product-overview
          [products]="buyableProducts"
          [title]="'Kaufen'"
          [type]="'Buy'"
          (tradeAction)="onBuy($event)"
        ></app-product-overview>
        <app-product-overview
          [products]="sellableProductArray"
          [title]="'Verkaufen'"
          [type]="'Sell'"
          (tradeAction)="onSell($event)"
        ></app-product-overview>
      </div>
    </mat-card>
  </mat-tab>
  <mat-tab label="Gerüchte"></mat-tab>
  <mat-tab label="Ansehen"></mat-tab>
  <mat-tab label="Quests"></mat-tab>
</mat-tab-group>
