<h2 mat-dialog-title>Löschen</h2>
<mat-dialog-content class="mat-typography">
    <p mat-h4>
        Aufgabe "{{soja.content}}" wirklich löschen?
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Schließen</button>
    <button mat-button color="warn" [mat-dialog-close]="true" (click)="onSubmit()" cdkFocusInitial>Löschen</button>
    <button mat-button color="warn" [mat-dialog-close]="true" (click)="onSubmitAll()" cdkFocusInitial>Alle Löschen</button>
</mat-dialog-actions>